body
{
	background-color: #5DADE2;
	font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
	text-align: center;
}

div
{
  text-align: center;
}

h1
{
	font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
	font-size: 80px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26px;
	text-align: center;
}

h3
{
	font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15px;
  letter-spacing: 2px;
	text-align: center;
}

p
{
	font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	text-align: justify;
	margin: 10px;
}

.img-circle {
    border-radius: 50%;
}

li{
	text-align: center;
}
