body {
	color: #333;
	font-family: Roboto, sans-serif;
	font-size: 14px;
	line-height: 20px;
}

h1 {
	font-size: 38px;
	font-weight: 300;
	line-height: 37px;
	margin: 0px 0px 10px;
}
h2 {
	margin-top: 0px;
	margin-bottom: 10px;
	font-family: Roboto, sans-serif;
	font-size: 32px;
	line-height: 36px;
	font-weight: 300;
}

h3 {
	font-size: 24px;
	font-weight: 300;
	line-height: 30px;
	margin: 0px 0px 10px;
}

p {
	margin-top: 0px;
	margin-bottom: 15px;
	color: #9ea8a4;
	font-size: 14px;
	line-height: 23px;
}
.header {
	height: 530px;
	background-image: url("IMG_2516.jpg");
	background-size: cover;
	background-attachment: fixed;
	box-shadow: inset 0 3px 0 0 #000;
}
.nav-link {
	display: block;
	margin-bottom: 8px;
	font-family: 'Roboto Condensed', sans-serif;
	color: #a83237;
	font-size: 18px;
	font-weight: 300;
	text-decoration: none;
	text-transform: capitalize;
}
.nav-link:hover {
	color: #32a84e
}
.navigation {
	position: fixed;
	z-index: 10;
	padding: 33px 19px 38px;
	border-top: 3px solid #a83237;
	background-color: rgba(54, 54, 54, 0);
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
}
.logo {
	display: block;
	margin-top: -6px;
	margin-bottom: 20px;
	padding-top: 0px;
	color: #ddca3c;
	font-size: 33px;
	line-height: 36px;
	font-weight: 300;
	text-align: left;
	text-transform: capitalize;
}
.logo-link {
	color: #333;
	text-decoration: none;
}
.section {
	padding-top: 65px;
	padding-bottom: 65px;
	background-color: #272727;
}
.section.grey {
	background-color: #f0f0f0;
}
.section.green {
	background-color: #1b1b1b;
}
.align-right {
	padding-right: 25px;
	text-align: right;
}
.heading {
	color: #ddca3c;
}
.heading-2 {
	color: #fff;
}
.leadership-entry {
	display: block;
	margin-bottom: 19px;
	padding: 18px 20px;
	border: 1px solid #dce6e4;
	transition: background-color 300ms ease;
	color: #333;
	text-decoration: none;
}
.leadership-entry:hover {
	background-color: #1d1c1c;
}
